{{ define "main" }}

{{ if site.Data.homepage.hero.enable }}

  {{ with site.Data.homepage.hero }}
  {{ if .image }}
    <style>
      .hero { background-image: url("{{.image}}") ;}
    </style>
    {{ end }}
    {{ if .background_color }}
    <style>
      .hero { background-color: {{.background_color }}!important;}
    </style>
    {{ end }}
    <section class="hero is-medium" >
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title has-text-white is-size-1">
            {{ .title | markdownify }}
          </h1>
          <h2 class="subtitle has-text-white is-size-3">
            {{ .subtitle | markdownify }}
          </h2>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}

  {{ if site.Data.homepage.feature.enable }}
    {{ with site.Data.homepage.feature }}
      <section data-category="features" class="section">
        <div class="container">

          <div class="columns is-centered is-vcentered is-multiline">
            <div class="column is-6-desktop is-12-tablet">
              <div class="p-0 is-relative">
                <img loading="lazy" class="is-relative is-radius is-fullwidth is-object-cover" src="{{ .image }}" alt="">
              </div>
            </div>

            <div class="column is-6-desktop is-12-tablet pl-6">
              <div class="mb-6">
                <h2 class="mt-4 title is-size-3">{{ .title | markdownify }}</h2>
              </div>

              {{ range .feature_item }}
                <div class="is-flex mb-6">
                  <div class="mr-6 has-text-primary">
                    <span class="icon has-text-grey-light">
                      <i style="" class="{{ .icon }} is-size-1 mt-4"></i>
                    </span>
                  </div>
                  <div>
                    <h3 class="title is-size-5 is-spaced mb-3">{{ .name | title }}</h3>
                    <p class="subtitle">{{ .content | title }}</p>
                  </div>
                </div>
              {{ end }}

            </div>
          </div>
        </div>
      </section>
    {{ end }}
  {{ end }}
<section class="section has-background-light">
	<div class="container">
	<div class="columns is-centered ">
            <div class="column is-8">
    <h2 class="title is-2 ">Stuur ons een berichtje of je voorschrift</h2>
	<div id="toast"></div>
    <form id="contactForm">
        <div class="field">
            <label for="name" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="text" name="name" id="name" class="input" placeholder="Naam" autofocus="">
                    <span class="icon is-left">
                        <svg class="svg-inline--fa fa-user fa-w-14" aria-hidden="true" data-prefix="fa" data-icon="user" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path></svg><!-- <i class="fa fa-user"></i> -->
                    </span>
            </div>
        </div>
	    <div class="field">
            <label for="name" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="text" name="voorschrift" id="voorschrift" class="input" placeholder="Voorschrift code" autofocus="">
                    <span class="icon is-left">
                        <svg class="svg-inline--fa fa-align-left fa-w-14" aria-hidden="true" data-prefix="fa" data-icon="align-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M288 44v40c0 8.837-7.163 16-16 16H16c-8.837 0-16-7.163-16-16V44c0-8.837 7.163-16 16-16h256c8.837 0 16 7.163 16 16zM0 172v40c0 8.837 7.163 16 16 16h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16zm16 312h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm256-200H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16h256c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16z"></path></svg>
                    </span>
            </div>
        </div>
        <div class="field">
            <label for="email" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="email" name="email" id="email" class="input" placeholder="Email">
                    <span class="icon is-left">
                        <svg class="svg-inline--fa fa-envelope fa-w-16" aria-hidden="true" data-prefix="fa" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path></svg><!-- <i class="fa fa-envelope"></i> -->
                    </span>
            </div>
        </div>
        <div class="field">
            <label for="message" class="label is-size-4 has-text-weight-light"></label>
            <textarea name="content" id="message" rows="5" class="textarea is-medium" placeholder="Bericht"></textarea>
        </div>
		
        <button type="submit" class="button is-success is-size-5" id="submit">Verzenden</button>
    </form>
</div></div></div></section>
<script type="text/javascript">
  const form = document.getElementById('contactForm')
  const url = 'https://rxo1ulhuka.execute-api.eu-central-1.amazonaws.com/mailtest/contactme'
  const toast = document.getElementById('toast')
  const submit = document.getElementById('submit')

  function post(url, body, callback) {
    var req = new XMLHttpRequest();
    req.open("POST", url, true);
    req.setRequestHeader("Content-Type", "application/json");
    req.addEventListener("load", function () {
      if (req.status < 400) {
        callback(null, JSON.parse(req.responseText));
      } else {
        callback(new Error("Request failed: " + req.statusText));
      }
    });
    req.send(JSON.stringify(body));
  }
  function success () {
    document.getElementById('toast').className = "notification is-info"
    toast.innerHTML = 'Bedankt voor je bericht! We contacteren je zo snel mogelijk. :)'
    submit.disabled = false
    submit.blur()
    form.name.focus()
    form.name.value = ''
    form.email.value = ''
    form.content.value = ''
	  form.voorschrift.value = ''
  }
  function error (err) {
    toast.innerHTML = 'There was an error with sending your message, hold up until I fix it. Thanks for waiting.'
    submit.disabled = false
    console.log(err)
  }

  form.addEventListener('submit', function (e) {
    e.preventDefault()
    toast.innerHTML = 'Sending'
    submit.disabled = true

    const payload = {
      name: form.name.value,
      email: form.email.value,
      content: form.content.value,
	    voorschrift: form.voorschrift.value,
    }
    post(url, payload, function (err, res) {
      if (err) { return error(err) }
      success()
    })
  })
</script>

{{ end }}
