{{ define "main" }}

{{ if site.Data.homepage.hero.enable }}

  {{ with site.Data.homepage.hero }}
  {{ if .image }}
    <style>
      .hero { background-image: url("{{.image}}") ;}
    </style>
    {{ end }}
    {{ if .background_color }}
    <style>
      .hero { background-color: {{.background_color }}!important;}
    </style>
    {{ end }}
    <section class="hero is-medium" >
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title has-text-white is-size-1">
            {{ .title | markdownify }}
          </h1>
          <h2 class="subtitle has-text-white is-size-3">
            {{ .subtitle | markdownify }}
          </h2>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}

  {{ if site.Data.homepage.feature.enable }}
    {{ with site.Data.homepage.feature }}
      <section data-category="features" class="section">
        <div class="container">

          <div class="columns is-centered is-vcentered is-multiline">
            <div class="column is-6-desktop is-12-tablet">
              <div class="p-0 is-relative">
                <img loading="lazy" class="is-relative is-radius is-fullwidth is-object-cover" src="{{ .image }}" alt="">
              </div>
            </div>

            <div class="column is-6-desktop is-12-tablet pl-6">
              <div class="mb-6">
                <h2 class="mt-4 title is-size-3">{{ .title | markdownify }}</h2>
              </div>

              {{ range .feature_item }}
                <div class="is-flex mb-6">
                  <div class="mr-6 has-text-primary">
                    <span class="icon has-text-grey-light">
                      <i style="" class="{{ .icon }} is-size-1 mt-4"></i>
                    </span>
                  </div>
                  <div>
                    <h3 class="title is-size-5 is-spaced mb-3">{{ .name | title }}</h3>
                    <p class="subtitle">{{ .content | title }}</p>
                  </div>
                </div>
              {{ end }}

            </div>
          </div>
        </div>
      </section>
    {{ end }}
  {{ end }}
<section class="">
<div class="container my-5 mt-5 mx-5 px-5">
    <h2 class="title is-2 is-capitalized">Contact Us</h2>
    <form action="" method="post">
        <div class="field">
            <label for="name" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="text" name="name" id="name" class="input" placeholder="Name" autofocus>
                    <span class="icon is-left">
                        <i class="fa fa-user"></i>
                    </span>
            </div>
        </div>
        <div class="field">
            <label for="email" class="label is-size-4 has-text-weight-light"></label>
            <div class="control has-icons-left">
                <input type="email" name="email" id="email" class="input" placeholder="Email">
                    <span class="icon is-left">
                        <i class="fa fa-envelope"></i>
                    </span>
            </div>
        </div>
        <div class="field">
            <label for="message" class="label is-size-4 has-text-weight-light"></label>
            <textarea name="message" id="message" rows="5" class="textarea is-medium" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="button is-success is-size-5">Submit</button>
    </form>
</div>
  </section>
{{ end }}
